<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link	rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link	rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <title> Painterly | a whole new art critique website </title>
  </head>
  <body>
    <main	class="container-fluid">
      <div class="row">
        <aside class="col-md-6 center">
            <img id="logo" src="images/Logo.png" />
            <br>
            <h1>Painterly</h1>
            <br>
            <button type="button" class="btn btn-primary btn-lg bcolor">   SIGN UP   </button><span id="fc"> or </span><button type="button" class="btn btn-primary btn-lg pcolor">    LOG IN    </button>
            <br>
            <h5> What is painterly? </h5>
            Join a community of college-level artists sharing work of different mediums. Critique others' work and get critiques on your work!
            <br><br>
            Sign up with a .edu email address to get started.
        </aside>
      </div>

      <div class="row">
        <aside class="col-md-3">
          <div class="menu">
            <i class="fa fa-user fa-5x giconcolor "></i>
            <h4>Create</h4>
          </div>

          <div class="hover">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac quam lacus. Ut tristique iaculis diam ac consequat. Morbi eget varius justo. Sed nec consequat magna, eu pretium nunc. Nullam cursus urna ac pellentesque accumsan.  </div>

        </aside>

        <aside class="col-md-3 sideborder">
          <div class="menu">
            <i class="fa fa-pencil fa-5x yiconcolor "></i>
            <h4>Contribute</h4>
          </div>
          <div class="hover">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac quam lacus. Ut tristique iaculis diam ac consequat. Morbi eget varius justo. Sed nec consequat magna, eu pretium nunc. Nullam cursus urna ac pellentesque accumsan. </div>
        </aside>

        <aside class="col-md-3 sideborder">
          <div class="menu">
            <i class="fa fa-graduation-cap fa-5x piconcolor "></i>
            <h4>Connect</h4>
          </div>
          <div class="hover">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac quam lacus. Ut tristique iaculis diam ac consequat. Morbi eget varius justo. Sed nec consequat magna, eu pretium nunc. Nullam cursus urna ac pellentesque accumsan.</div>
        </aside>

        <aside class="col-md-3 sideborder">
          <div class="menu">
            <i class="fa fa-envelope-o fa-5x oiconcolor "></i>
            <h4>Communicate</h4>
          </div>
          <div class="hover">cLorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac quam lacus. Ut tristique iaculis diam ac consequat. Morbi eget varius justo. Sed nec consequat magna, eu pretium nunc. Nullam cursus urna ac pellentesque accumsan. </div>
        </aside>

      </div>

    </main>
  <script src="/js/landing.js"></script>
  </body>
</html>
