<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="https://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css">
    <link	rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link	rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="landing.js"></script>

  </head>

  <body>
    <main	class="container-fluid">
      <div class="row">
        <aside class="col-md-6 center">
            <img id="logo" src="images/Logo.jpg" />
            <br>
            <h1>Painterly</h1>
            <br>

            <a href ="#signup" data-rel="popup" class="btn btn-primary btn-lg bcolor">   SIGN UP   </a>
            <a href="#login" data-rel="popup" class="btn btn-primary btn-lg pcolor">    LOG IN    </a>

            <div data-role="popup" id="login" class="ui-content" style="min-width:250px;">
              <form method="post" action="demoform.asp">
                <div>
                  <h3>Login information</h3>
                  <label for="usrnm" class="ui-hidden-accessible">Username:</label>
                  <input type="text" name="user" id="usrnm" placeholder="Username">
                  <label for="pswd" class="ui-hidden-accessible">Password:</label>
                  <input type="password" name="passw" id="pswd" placeholder="Password">
                  <label for="log">Keep me logged in</label>
                  <input type="checkbox" name="login" id="log" value="1" data-mini="true">
                  <input type="submit" data-inline="true" value="Log in">
                </div>
              </form>
            </div>
            <div data-role="popup" id="signup" class="ui-content" style="min-width:250px;">
              <form method="post" action="demoform.asp">
                <div>
                  <h3>Signup information</h3>
                  <label for="emailS" class="ui-hidden-accessible">Email:</label>
                  <input type="text" name="emailS" id="emailS" placeholder="Email">
                  <label for="usernameS" class="ui-hidden-accessible">Username:</label>
                  <input type="text" name="userS" id="usernameS" placeholder="Username">
                  <label for="pswdS" class="ui-hidden-accessible">Password:</label>
                  <input type="password" name="passwS" id="pswdS" placeholder="Password">
                  <label for="signupS">What level are you?</label>
                  <fieldset data-role="controlgroup" data-type="horizontal" >
                    <input type="radio" name="radio-choice-2" id="radio-choice-1" value="choice-1"  />
                    <label for="radio-choice-1">Freshman</label>
                    <input type="radio" name="radio-choice-2" id="radio-choice-2" value="choice-2"  />
                    <label for="radio-choice-2">Sophmore</label>
                    <input type="radio" name="radio-choice-2" id="radio-choice-3" value="choice-3"  />
                    <label for="radio-choice-3">Junior</label>
                    <input type="radio" name="radio-choice-2" id="radio-choice-4" value="choice-4"  />
                    <label for="radio-choice-4">Senior</label>
                    <input type="radio" name="radio-choice-2" id="radio-choice-5" value="choice-5"  />
                    <label for="radio-choice-5">Graduate</label>
                    <input type="radio" name="radio-choice-2" id="radio-choice-6" value="choice-6"  />
                    <label for="radio-choice-6">Educator</label>
                  </fieldset>
                  <input type="submit" data-inline="true" value="Sign me up!">
                </div>
              </form>
            </div>

            <br>
            <h5> What is painterly? </h5>
            Join a community of college-level artists sharing work of different mediums. Critique others' work and get critiques on your work!
            <br><br>
            Sign up with a .edu email address to get started.
        </aside>
      </div>

      <div class="row">
        <aside class="col-md-3">
          <div class="menu">
            <i class="fa fa-user fa-5x giconcolor "></i>
            <h4>Create</h4>
          </div>

          <div class="hover">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac quam lacus. Ut tristique iaculis diam ac consequat. Morbi eget varius justo. Sed nec consequat magna, eu pretium nunc. Nullam cursus urna ac pellentesque accumsan.  </div>

        </aside>

        <aside class="col-md-3 sideborder">
          <div class="menu">
            <i class="fa fa-pencil fa-5x yiconcolor "></i>
            <h4>Contribute</h4>
          </div>
          <div class="hover">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac quam lacus. Ut tristique iaculis diam ac consequat. Morbi eget varius justo. Sed nec consequat magna, eu pretium nunc. Nullam cursus urna ac pellentesque accumsan. </div>
        </aside>

        <aside class="col-md-3 sideborder">
          <div class="menu">
            <i class="fa fa-graduation-cap fa-5x piconcolor "></i>
            <h4>Connect</h4>
          </div>
          <div class="hover">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac quam lacus. Ut tristique iaculis diam ac consequat. Morbi eget varius justo. Sed nec consequat magna, eu pretium nunc. Nullam cursus urna ac pellentesque accumsan.</div>
        </aside>

        <aside class="col-md-3 sideborder">
          <div class="menu">
            <i class="fa fa-envelope-o fa-5x oiconcolor "></i>
            <h4>Communicate</h4>
          </div>
          <div class="hover">cLorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac quam lacus. Ut tristique iaculis diam ac consequat. Morbi eget varius justo. Sed nec consequat magna, eu pretium nunc. Nullam cursus urna ac pellentesque accumsan. </div>
        </aside>

      </div>

    </main>
  </body>
</html>
