  <head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="https://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css">
    <link	rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link	rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  </head>
  <title>="Painterly"</title>
  <body>

<div data-role="page" id="main">
    <main	class="container-fluid">
      <div class="row">
        <aside class="col-md-6 center">

            <img id="logo" src="images/Logo.jpg" />
            <br>
            <h1>Painterly</h1>
            <br>

            <a href ="#signup" data-rel="popup" class="btn btn-primary btn-lg bcolor" data-position-to="window">   SIGN UP   </a>
            <a href="#login" data-rel="popup" class="btn btn-primary btn-lg pcolor" data-position-to="window">    LOG IN    </a>
            <br><br>
            <div data-role="popup" id="login" class="ui-content" style="min-width:250px;">
              <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
              <form method="post" action="login">
                <div>
                  <h3>Login information</h3>
                  <label for="usrnm" class="ui-hidden-accessible">Username:</label>
                  <input type="text" name="username" required id="usrnm" placeholder="Username">
                  <label for="pswd" class="ui-hidden-accessible">Password:</label>
                  <input type="password" name="password" required id="pswd" placeholder="Password" >
                  <input type="submit" data-inline="true" value="Log in">
                </div>
              </form>
            </div>

            <div data-role="popup" id="signup" class="ui-content" style="min-width:250px;">
              <form method="post" action="login/signup">
                <div>
                  <h3>Signup information</h3>
                  <label for="emailS" class="ui-hidden-accessible">Email:</label>
                  <input type="text" name="emailS" required  id="emailS" placeholder="Email">
                  <label for="usernameS" class="ui-hidden-accessible">Username:</label>
                  <input type="text" name="userS" required id="usernameS" placeholder="Username">
                  <label for="pswdS" class="ui-hidden-accessible">Password:</label>
                  <input type="password" name="passwS" required id="pswdS" placeholder="Password">
                  <label for="college" class="ui-hidden-accessible">College:</label>
                  <input type="text" name="college" required id="college" placeholder="College">
                  <label for="location" class="ui-hidden-accessible">Location:</label>
                  <input type="text" name="location" required id="loc" placeholder="location">
                  <label for="signupS">What level are you?</label>
                  <fieldset data-role="controlgroup" data-type="horizontal" >
                    <input type="radio" name="level" id="radio-choice-1" value="Freshman" checked/>
                    <label for="radio-choice-1">Freshman</label>
                    <input type="radio" name="level" id="radio-choice-2" value="Sophmore<"  />
                    <label for="radio-choice-2">Sophmore</label>
                    <input type="radio" name="level" id="radio-choice-3" value="Junior"  />
                    <label for="radio-choice-3">Junior</label>
                    <input type="radio" name="level" id="radio-choice-4" value="Senior"  />
                    <label for="radio-choice-4">Senior</label>
                    <input type="radio" name="level" id="radio-choice-5" value="Graduate"  />
                    <label for="radio-choice-5">Graduate</label>
                    <input type="radio" name="level" id="radio-choice-6" value="Educator"  />
                    <label for="radio-choice-6">Educator</label>
                  </fieldset>
                  <label for="signupS">What medium do you produce?</label>
                  <fieldset data-role="controlgroup" data-type="horizontal" >
                    <input type="radio" name="medium" id="radio-choice-7" value="Digital" checked/>
                    <label for="radio-choice-7">Digital</label>
                    <input type="radio" name="medium" id="radio-choice-8" value="Branding"  />
                    <label for="radio-choice-8">Branding</label>
                    <input type="radio" name="medium" id="radio-choice-9" value="Paintings"  />
                    <label for="radio-choice-9">Paintings</label>
                    <input type="radio" name="medium" id="radio-choice-10" value="Illustration"  />
                    <label for="radio-choice-10">Illustration</label>
                    <input type="radio" name="medium" id="radio-choice-11" value="Sculpture"  />
                    <label for="radio-choice-11">Sculpture</label>
                    <input type="radio" name="medium" id="radio-choice-12" value="Other"  />
                    <label for="radio-choice-12">Other</label>
                  </fieldset>
                  <input type="submit" data-inline="true" value="Sign me up!">
                </div>
              </form>
            </div>
            {{#if error}}
                <p>{{error}}</p>
            {{/if}}
            {{#if invalid}}
                <p>{{invalid}}</p>
            {{/if}}
            <h5> What is painterly? </h5>
            Join a community of college-level artists sharing work of different mediums. Critique others' work and get critiques on your work!
            <br><br>
            Sign up with a .edu email address to get started.
        </aside>
      </div>

      <div class="row">
        <aside class="col-md-3">
          <div class="menu">
            <i class="fa fa-user fa-5x giconcolor "></i>
            <h4>Create</h4>
          </div>

          <div class="hover">Create your account today to share your work and view others’ creations from around the world. With a Painterly account, you’ll be able to give and receive feedback from fellow art students. Get some constructive criticism before passing in that project!
  </div>

        </aside>

        <aside class="col-md-3 sideborder">
          <div class="menu">
            <i class="fa fa-pencil fa-5x yiconcolor "></i>
            <h4>Contribute</h4>
          </div>
          <div class="hover">Post your work to the community whenever, wherever. Don’t have anything you need critiqued? Help your fellow students by searching for others’ work and leave feedback. [Search function in future]
 </div>
        </aside>

        <aside class="col-md-3 sideborder">
          <div class="menu">
            <i class="fa fa-graduation-cap fa-5x piconcolor "></i>
            <h4>Connect</h4>
          </div>
          <div class="hover">Search for students in your vicinity to see what they’re up to, or see what’s being created at a certain school. [Search function in future]
</div>
        </aside>

        <aside class="col-md-3 sideborder">
          <div class="menu">
            <i class="fa fa-envelope-o fa-5x oiconcolor "></i>
            <h4>Communicate</h4>
          </div>
          <div class="hover">Privately message other users to share thoughts and ideas, or to exchange information with students you know. [Message function in future]
 </div>
        </aside>

      </div>
    </main>
</div>

</body>
